In [6]:
import pandas as pd
import numpy as np

In [12]:
movies = pd.read_csv('./netology-recsys-master/lecture-1/movies.csv')
tags = pd.read_csv('./netology-recsys-master/lecture-1/tags.csv')
ratings = pd.read_csv('./netology-recsys-master/lecture-1/ratings.csv')

## tags

In [13]:
tags_grpd = tags.groupby('movieId')['tag'].apply(lambda x: ' '.join(x))
tags_unique = pd.DataFrame(tags['movieId'].unique(), columns=['movieId'])
tags_grpd_df = pd.merge(tags_unique, tags_grpd, on='movieId')

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tf = TfidfVectorizer()

In [34]:
tf_tags = tf.fit_transform(tags_grpd_df['tag']).todense()

In [36]:
cols = [(k, tf.vocabulary_[k]) for k in tf.vocabulary_]
cols = sorted(cols, key=lambda c: c[1])
cols = [c[0] for c in cols]

In [38]:
tags_features = pd.DataFrame(tf_tags, columns=cols)

In [47]:
movies_tags = pd.concat((tags_grpd_df, tags_features), axis=1)

## genres

In [59]:
movies['gnr_splt'] = movies.genres.str.split('|')

In [62]:
movies['gnr_space'] = movies.apply(lambda r: ' '.join(r.gnr_splt), axis=1)

In [64]:
tf = TfidfVectorizer()

In [74]:
tf_genres = tf.fit_transform(movies['gnr_space']).todense()

In [75]:
cols = [(k, tf.vocabulary_[k]) for k in tf.vocabulary_]
cols = sorted(cols, key=lambda c: c[1])
cols = [c[0] for c in cols]

In [77]:
gnr_features = pd.DataFrame(tf_genres, columns=cols)

In [81]:
movies_genres = pd.concat((movies, gnr_features), axis = 1)

In [85]:
del movies_genres['genres']
del movies_genres['gnr_splt']
del movies_genres['gnr_space']

In [86]:
del movies_tags['tag']

## merge

In [137]:
mgt = movies_genres.join(movies_tags, on='movieId', lsuffix='_genres', rsuffix='_tags')
mgt = mgt.fillna(0)
mgt.rename(columns={'movieId_genres':'movieId'}, inplace=True)

del mgt['movieId_tags']

 ## ratings

In [145]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [156]:
ratings_total = ratings.groupby('movieId')['userId'].count().reset_index(name = 'userId')
ratings_total.columns = ['movieId', 'users']

In [157]:
ratings_mean = ratings.groupby('movieId')['rating'].mean().reset_index(name = 'rating')
ratings_mean.columns = ['movieId', 'rating_mean']

In [165]:
ratings_users_count = len(ratings['userId'].unique())

In [161]:
ratings_weighted = pd.merge(ratings_total, ratings_mean, on = 'movieId')

In [166]:
ratings_weighted['rating_wgh'] = ratings_weighted['rating_mean'] * ratings_weighted['users'] / ratings_users_count

In [177]:
del ratings_weighted['users']
del ratings_weighted['rating_mean']

In [184]:
mgtr = mgt.join(ratings_weighted, on = 'movieId', lsuffix = '_mgt', rsuffix = '_rw')

In [185]:
del mgtr['movieId_rw']

mgtr.rename(columns={'movieId_mgt':'movieId'}, inplace=True)
mgtr = mgtr.fillna(np.min(mgtr['rating_wgh']))

## modeling time

In [188]:
mgtr.head()

,movieId,title,action_genres,adventure_genres,animation_genres,children_genres,comedy_genres,crime_genres,documentary_genres,drama_genres,...,you,younger,your,zellweger,zither,zoe,zombie,zombies,zooey,rating_wgh
0,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852
1,2,Jumanji (1995),0.0,0.512361,0.000000,0.620525,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.277869
2,3,Grumpier Old Men (1995),0.0,0.000000,0.000000,0.000000,0.570915,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.027049
3,4,Waiting to Exhale (1995),0.0,0.000000,0.000000,0.000000,0.505015,0.0,0.0,0.466405,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.246721
4,5,Father of the Bride Part II (1995),0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.659836

In [196]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [197]:
print(ratings.shape)
print(mgtr.shape)

(100836, 4)
(9742, 1769)

In [201]:
user_tfidf = pd.merge(ratings[['userId', 'movieId']], mgtr, on='movieId')

In [202]:
user_tfidf.head()

,userId,movieId,title,action_genres,adventure_genres,animation_genres,children_genres,comedy_genres,crime_genres,documentary_genres,...,you,younger,your,zellweger,zither,zoe,zombie,zombies,zooey,rating_wgh
0,1,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852
1,5,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852
2,7,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852
3,15,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852
4,17,1,Toy Story (1995),0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.618852

In [205]:
user = user_tfidf[user_tfidf.userId==228]

,userId,movieId,title,action_genres,adventure_genres,animation_genres,children_genres,comedy_genres,crime_genres,documentary_genres,...,you,younger,your,zellweger,zither,zoe,zombie,zombies,zooey,rating_wgh
645,228,50,"Usual Suspects, The (1995)",0.000000,0.000000,0.000000,0.000000,0.0,0.553854,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006557
1664,228,260,Star Wars: Episode IV - A New Hope (1977),0.432883,0.492725,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.467213
2769,228,362,"Jungle Book, The (1994)",0.000000,0.548907,0.000000,0.664786,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.009836
6860,228,1196,Star Wars: Episode V - The Empire Strikes Back...,0.432883,0.492725,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.040164
7932,228,1214,Alien (1979),0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.118852
12745,228,2571,"Matrix, The (1999)",0.446563,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001639
16412,228,318,"Shawshank Redemption, The (1994)",0.000000,0.000000,0.000000,0.000000,0.0,0.863943,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.035246
28174,228,65,Bio-Dome (1996),0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.073770
43716,228,1385,Under Siege (1992),0.641630,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006557
44582,228,1590,Event Horizon (1997),0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.109016
45431,228,858,"Godfather, The (1972)",0.000000,0.000000,0.000000,0.000000,0.0,0.863943,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.023770
46218,228,3510,Frequency (2000),0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.023770
46319,228,3555,U-571 (2000),0.472152,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.048361
47231,228,60069,WALL·E (2008),0.000000,0.372684,0.461536,0.451361,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000820
48582,228,541,Blade Runner (1982),0.446563,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004918
58053,228,610,Heavy Metal (1981),0.336225,0.382705,0.473945,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022951
59149,228,1373,Star Trek V: The Final Frontier (1989),0.497461,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.128689
62527,228,2722,Deep Blue Sea (1999),0.391122,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004918
62930,228,3005,"Bone Collector, The (1999)",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.320492
63177,228,3113,End of Days (1999),0.370356,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.013115
75095,228,1801,"Man in the Iron Mask, The (1998)",0.602917,0.686265,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.082787
77443,228,836,Chain Reaction (1996),0.553065,0.629522,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022131
86098,228,1091,Weekend at Bernie's (1989),0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010656
91643,228,2986,RoboCop 2 (1990),0.396688,0.000000,0.000000,0.000000,0.0,0.459238,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.064754
91955,228,2013,"Poseidon Adventure, The (1972)",0.602917,0.686265,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.634426

In [207]:
nn_cols = user_tfidf.columns[3:]

In [208]:
from sklearn.neighbors import NearestNeighbors

In [209]:
nn = NearestNeighbors(10)

In [210]:
nn.fit(user_tfidf[nn_cols])

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                 radius=1.0)